    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>Trackble</h1>
        <h3>Let others know where you are in <em>realtime!</em></h3>
        <a href="#callout" class="btn btn-warning btn-lg">Find Out More</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Callout -->
    <div id="callout" class="callout">
      <div class="vert-text">
        <h1>Location updates in realtime</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Step1 -->
    <div id="step1" class="step1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Step 1: Grab the App</h2>
            <p class="lead">It's <em>free</em> to download from Google Play and Apple Store.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-3 text-center">
            <div class="well">
              <b>Android</b>
              <p>Download the apk</p>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="well">
              <b>iOS</b>
              <p>Coming this Feb 2014</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- /Step1 -->
  
    <!-- Step2 -->
    <div id="step2" class="step2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Step 2: Turn it ON</h2>
            <p class="lead">Simple Register or Sign Up and start tracking.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-3 text-center">
            <div class="step2-item">
              <i class="service-icon fa fa-magnet"></i>
              <h4>Enable GPS</h4>
              <p>Enable GPS on your mobile device.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="step2-item">
              <i class="service-icon fa fa-shield"></i>
              <h4>Sign Up</h4>
              <p>Choose a username so we can identify you on the map later for web viewers.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="step2-item">
              <i class="service-icon fa fa-pencil"></i>
              <h4>Tracker ON</h4>
              <p>Switch the tracker ON to start GPS logging.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Step2 -->

    <!-- Step3 -->
    <div id="step3" class="step3">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Step 3: Control MapView Access</h2>
            <p class="lead">
              Send a link to your viewers so they can <em>securely</em> see your
              location updates on the map.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Step3 -->

    <!-- Call to Action -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>Want to know more?!</h3>
            <p class="lead">
              I won't spam you. Enter your email address below to get important updates
              and <em>be notified</em> when I launch.
            </p>

            <form class="form-inline" role="form">
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-md btn-info">Notify Me!</button>
            </form>

            <h3></h3>
            <p>
              I'll be more than willing to answer your questions if you have one.
              Just drop me an email at <a href="mailto:rupert@2rmobile.com">rupert@2rmobile.com</a>
            </p>


          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <hr>
            <p>2RMobile Pty Ltd 2014</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- Custom JavaScript for Smooth Scrolling -->
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>