<div class="container">
  <h2 style="text-align: center;">PRIVACY STATEMENT</h2>

  <p>This privacy policy governs your use of the mobile application <b>Real Time GPS Tracker</b> ("Application") for mobile devices that was created by
    <b>2RMobile Pty Ltd ("Company")</b>.
  </p>

  <p> </p>

  <p><strong>User Provided Information</strong> </p>

  <p>The Application obtains the information you provide when you download and register the Application. Registration with us is mandatory in order to be able to use the basic features of the Application.</p>

  <p>When you register with us and use the Application, you generally provide
    (a) your username, email address, password and other registration information, such as your pin to protect your map access;
    (b) location-related information, such as your mobile device GPS coordinates;
    (c) information you provide us when you contact us for help;
    (d) credit card information for purchase and use of the Application for Business partners, and;
    (e) information you enter into our system when using the Application, such as contact information.</p>

  <p>We may also use the information you provided us to contact your from time to time to provide you with important information, required notices and marketing promotions.</p>

  <p><strong>Automatically Collected Information</strong> </p>

  <p>In addition, the Application may collect certain information automatically, including, but not limited to,
    the type of mobile device you use,
    your mobile devices unique device ID,
    your mobile device GPS location,
    the IP address of your mobile device,
    your mobile operating system,
    the type of mobile Internet browsers you use, and information about the way you use the Application. </p>

  <p><strong>Real time location Information</strong></p>

  <p>When you visit the mobile application, we may use GPS technology (or other similar technology) to determine your current location in order to display a location map.
    We <i>will not</i> share your current location with other users or partners until you allow the Application to do so thru a four (4) digit pin.
  </p>

  <p>If you do not want us to use your location for the purposes set forth above, you should turn off the location services for the mobile application located in your mobile phone settings and/or within the mobile application. </p>

  <p><strong>Sharing your Information</strong></p>

  <p>Yes. We will share your information with third parties only in the ways that are described in this privacy statement.</p>
  <p>We may disclose User Provided and Automatically Collected Information:</p>
  <ul>
    <li> <p>as required by law, such as to comply with a subpoena, or similar legal process;</p> </li>
    <li> <p>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;</p> </li>
    <li> <p>with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</p> </li>
    <li> <p>if <b>2RMobile Pty Ltd</b> is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.</p> </li>
  </ul>

  <p><strong>What are my opt-out rights?</strong></p>

  <p>You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network.
    You can also request to opt-out via email, at rupert@2rmobile.com.</p>

  <p><strong>Data Retention Policy, Managing Your Information</strong></p>

  <p>We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter.
    We will retain Automatically Collected information for up to <b>24 months</b> and thereafter may store it in aggregate.
    If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at
    <b>rupert@2rmobile.com</b> and we will respond in a reasonable time.
    Please note that some or all of the User Provided Data may be required in order for the Application to function properly.
  </p>

  <p><strong>Children</strong></p>

  <p>We do not use the Application to knowingly solicit data from or market to children under the age of 13.
    If a parent or guardian becomes aware that his or her child has provided us with information without their consent,
    he or she should contact us at <b>rupert@2rmobile.com</b>. We will delete such information from our files within a reasonable time.</p>

  <p><strong>Security</strong></p>

  <p>We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavor provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p>

  <p><strong>Changes</strong></p>

  <p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy
    <a href="/privacy.html">here</a> and informing you via email. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.

  <p><strong>Your Consent</strong></p>
  <p>By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us.
    "Processing" means using cookies on a computer/hand held device or using or touching information in any way, including,
    but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which
    activities will take place in Australia.
  </p>

  <p><strong>Liability</strong></p>

  <p>
    <b>2RMobile Pty Ltd</b> and its partners cannot be held liable nor responsible for any damage resulting out of the usage of
    the Application. Company and its partners cannot be held liable nor responsible for any damage resulting out of privacy issues,
    data usage or any other circumstance relating to the personal data of registrants.
  </p>

  <p>
    The Company does not assume any responsibility for the accuracy of GPS data, which is provided by a third party.
    The Company do not guarantee the accessibility of GPS satellite services. Furthermore, when these services are unavailable, locations
    provided will be approximate and can be provided by wifi networks. An internet connection is not required to collect location data,
    however, it is required to send locations to the user’s account. The Company does not assume any responsibility for lapses in location
    updates due to lack of device connectivity to the internet via wifi or mobile network. Depending on the mobile device, GPS location
    services will occupy more or less battery usage. The Application runs in the background allowing to continually gather device locations.
    This can have a significant effect on the battery-life of the mobile device.

    Mobile phone tracker applications always appear in the applications list and can be uninstalled by the user at any time.
    Therefore, the Company assumes no responsibility for lack of functionality due to the uninstallation of the application by the user.
  </p>

  <p><strong>Our obligations</strong></p>

  <p>
    This website is bound by the <a href="http://www.comlaw.gov.au/Series/C2004A03712" target="_blank">Privacy Act 1988 (Cth)</a>, including the
    <a href="http://oaic.gov.au/privacy/privacy-act/information-privacy-principles" target="_blank">Information Privacy Principles</a>.
  </p>

  <p><strong>Contact us</strong></p>

  <p>If you have any questions regarding privacy while using the Application, or have questions about our practices,
    please contact us via email at <b>rupert@2rmobile.com</b>.</p>
</div>
