html, body, .container {
  height: 100%;
}

body {
  width: 100%;
  background: asset-url("bg_city.jpg") no-repeat center center fixed;
  background-size: cover;
}

#messages_container {
  padding: 10px;
}

#mapdiv {
  width: 100%;
  height: 90%;
  margin-top: -20px;
}
/* fixes blurry google maps control with bootstrap */
#mapdiv img {
  max-width: none;
}