html,body{
  height:100%;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
  overflow-y:scroll;
}

#mapdiv {
	width:67%;
  height: 90%;
  position:absolute;
  right:1px;
  top: 50px;
}

#mapdiv img {
  max-width: none;
}

.paginated_links {
  margin: 0px;
}