html,body{
  height:100%;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
  overflow-y:scroll;
}

#left {
	height:100%;
  padding: 10px;
}

#mapdiv {
	width:65%;
  height: 100%;
  position:absolute;
  right:16px;
  top:50px;
  bottom:0;
  overflow:hidden;
}

#mapdiv img {
  max-width: none;
}

.adjust-panel {
  margin-left: 20px;
  width: 100%;
}

.paginated_links {
  margin: 0px;
}