<% content_for :head do %>
  <script type="text/javascript" src="<%= APP_CONFIG[:google_maps_url] %>"></script>
<% end %>


<div class="row">
  <div class="col-md-4">
    <%= form_tag location_history_path, :method => 'get' do %>

      <label for="devices"> Devices: </label>

      <%= select_tag "Devices",
                     options_from_collection_for_select(@devices, "id", "uuid"),
                     {:include_blank => false,
                      :multiple => false } %>

      <%= submit_tag 'Submit',
                   :class => 'button primary',
                   :data => { :disable_with => 'Text' } %>
    <% end %>
  </div>

  <div class="col-md-8">
    <div id="mapdiv"></div>
  </div>

</div>

